:root{
    --title-color: #322153;
    --primary-color:#34cb79;
}

*{
    margin:0;
    padding: 0;

    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #66C4D0;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color)

}

header img{
width: 15%;
}

.medico-responsavel div h4 span{
    color: black;
    font-size: large;
}

.danger{
    background-color: rgb(206, 79, 79);
}

.danger:hover{
    background-color: white;
    color:rgb(206, 79, 79);
    border:solid rgb(206, 79, 79);
}


