.field{
    align-items: center;
}

img{
    max-width: 150px;
}
.medico-responsavel div h4 span{
    color: black;
    font-size: large;
}

.medico-responsavel{

    display: flex;

    align-items: center;
}

.medico-responsavel div h4{
    margin-bottom: 10px;
}

@media(max-width:700px){
    .medico-responsavel {
    
        
        display: flex;
        flex-direction: column;

    }

   
}